/* ------ Basic Style ------ */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
    max-width: 1440px;
}

header{
    background-color: #fff;
}

.search button,
.user-messages button{
    background-color: #8d5b4c;
    color: #f0f0f0;
    padding: 0 1em;
    border-radius: 5px;
}

#user-logo{
    border: 2px solid #c4bbaf;
    border-radius: 50%;
    margin: 0 2em;
}

/* #side-menu{
    display: none;
    list-style-type: none;
    background-color: #5a2a27;
    width: 200px;
    padding: 1em 3em;
}

#side-menu a{
    text-decoration: none;
    color: #fff;
} */

.user-tag{
    background-color: #fff;
    border-radius: 5px;
}

.message-box{
   border-radius: 5px;
   font-size: 1em;
   border: 1px solid #fff;
}

#message-card li{
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
}

footer{
    background-color: #fff;
}


/* ----- Basic Layout -----*/

.wrapper{
    height: calc(100vh - 50px);
}
.container,
main{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.search input,
.search button{
    margin: 0 .5em;
    padding: .5em;
    font-size: 1em;
}

.search input{
    width: 60%;
    border: 2px solid #8d5b4c;
    border-radius: 50px;
}

.user-tag{
    margin: .5em 0;
    padding: 1em;
    text-align: center;
}

.user-messages form{
    margin: 0 1em;
    padding: .5em 1em;
    text-align: right;
}

.message-box{
    resize: none;
}

.search button,
.user-messages button{
    padding: .4em;
    margin: 0 1em;
}

.message-card{
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

.message-card li{
    margin: .5em 0;
    padding: .5em 0;
}

.main-foot{
    text-align: center;
    height: 50px;
    padding: 1em;
}



/* ------ Flexbox Styles ------ */

.container{
    display: flex;
    align-content: space-between;
}

.logo{
    flex: 1;
}

.search{
    align-self: center;
    margin: 0 1em;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.user-messages{
    flex-direction: column;
    flex: 2 50%;
}

.user-messages form{
    flex: 1;
}



