/* =====================================
    Basic Style
======================================== */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f0f0f0;
    color: #222;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    line-height: 1.6em;
}

main{
    background-color: #f0f0f0;
}

.login button,
.signup button{
    background-color: #8d5b4c;
    color: #f0f0f0;
}

nav{
    background-color :#fff;
}

.signup{
    border: 2px solid #c4bbaf;
    border-radius: 10px;
    background-color: #c4bbaf;
}

.main-foot{
    font-size: 0.8em;
    background-color: #fff;
}

/* -------- Basic Layout --------*/

nav{
    padding: 1em 2em;
}
.main-container{
    margin: 2.5em;
}
main > div{
    width: 90%;
}

.background{
    background-image: url('img/Bear.jpg');
    background-size: 130%;
    background-position: center  top;
    margin-right: .5em;
}

.signup-box{
    margin: 0 auto;
}
.signup{
    margin: 0 auto;
    padding: .5em;
}
.login input,
.login button{
    margin: .3em 0;
    padding: .3em 0;
}
.signup input,
.signup button{
    margin: .5em 0;
    padding: .5em 0;
}

.main-foot{
    text-align: center;
    height: calc (100vh - 50px);
}

/* -------- Flexboxes --------*/
.nav-container,
.login{
    display: flex;
    align-content: space-between;
}

.nav-container p{
    flex: 1 50%;
}

.main-container,
.signup{
    display: flex;
}

.signup{
    flex-direction: column;
}

/* -------- Media Queries --------*/
@media (max-width: 600px){
    .nav-container,
    .login,
    .main-container{
        flex-direction: column;
    }

    .nav-container p{
        text-align: center;
    }

    .login{
        align-self: center;
        width: 40%;
    }

    .signup{
        width: 80%;
    }

    .background{
        display: none;
    }

    nav{
        padding: 1em 2em;
    }
    .main-container{
        margin: 2.5em;
    }
    main > div{
        width: 90%;
    }
    
    .background{
        background-image: url('img/Bear.jpg');
        background-size: 130%;
        background-position: center  top;
        margin-right: .5em;
    }
    
    .signup-box{
        margin: 0 auto;
    }
    .signup{
        margin: 0 auto;
        padding: .5em;
    }
    .login input,
    .login button{
        margin: .3em 0;
        padding: .3em 0;
    }
    .signup input,
    .signup button{
        margin: .5em 0;
        padding: .5em 0;
    }
    
    .main-foot{
        text-align: center;
        height: calc (100vh - 50px);
    }
  
}

