/* =====================================
    Basic Style
======================================== */
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #f0f0f0;
    color: #222;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    line-height: 1.6em;
}

.btn:hover {
    background-color: #a56e5dd3;
    color: #000;
}

input:focus{
    outline: none;
    border: 2px solid #8d5b4c;
}

main{
    background-color: #f0f0f0;
}

.login button,
.signup button{
    background-color: #8d5b4c;
    color: #f0f0f0;
}

.login button a,
.signup button a{
    text-decoration: none;
    color: #fff;
}

header{
    background-color :#fff;
}

.signup{
    border: 2px solid #c4bbaf;
    border-radius: 10px;
    background-color: #c4bbaf;
}

.main-foot{
    font-size: 0.8em;
    background-color: #fff;
}

/* -------- Basic Layout --------*/
.wrapper{
    max-width: 1440px;
}

nav{
    margin: 0 auto;
    padding: 1em 2em;
    width: 80%;
}
.main-container{
    margin: 2em;
}

.background{
    background-image: url('img/Bear.jpg');
    background-size: 130%;
    background-position: center  top;
    background-repeat: no-repeat;
    border: 1px solid#f0f0f0;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 5px #f0f0f0;
    margin-right: .5em;
}

.nav-container p{
    margin-right: 5em;
}

.login input,
.login button{
    margin: .3em 1em;
    padding: 0 1.5em;
}

.login button{
    width: 90px;
}

main{
    width: 60%;
    margin: auto;
}

.signup input,
.signup button{
    margin: 1em;
    padding: .5em 0;
}

.main-foot{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;
}

/* -------- Flexboxes --------*/
.nav-container,
.login{
    display: flex;
    align-content: space-between;
}

.logo{
    flex: 1 50%;
}

.main-container,
.signup{
    display: flex;
}

.main-contaier{
    flex-direction: row;
}

.background{
    flex: 1 50%;
}

.signup{
    flex: 1 50%;
    flex-direction: column;
    width: 100%;
}

/* -------- Media Queries --------*/
@media (max-width: 600px){
    .nav-container,
    .login,
    .main-container{
        flex-direction: column;
    }

    .logo{
        text-align: center;
    }

    .login{
        align-self: center;
        width: 80%;
    }

    .background{
        display: none;
    }
    
    .main-container{
        margin: 1.5em 0;
    }

    .signup{
        margin: 2em auto;
        width: 80%;
    }

    .login input,
    .login button{
        margin: .3em 0;
        padding: .3em .5em;
    }

    .login button{
        width: 100%;
    }

    .signup input,
    .signup button{
        margin: 1em;
        padding: .5em .9em;
    }
}