/* =====================================
    Basic Style
======================================== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

body{
    color: #222;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    line-height: 1.6em;
}

main{
    background-color: #f0f0f0;
}

#logo {
    width: 50px;
    align-self: center;
    padding: 1em 0;
}

.login-menu button,
.signup button{
    background-color: #8d5b4c;
    color: #f0f0f0;
}

.login-menu input,
.login-menu button{
    margin: 0.5em 0;
    padding: 0.6em 0;
}

.signup{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    margin: 3.5em auto;
    padding: 2em 0.4em;;
    border: 2px solid #c4bbaf;
    border-radius: 10px;
    background-color: #c4bbaf;
}

.signup input,
.signup button{
    padding: 1em 0;
    margin: 1em;
}

.main-foot{
    text-align: center;
    font-size: 0.8em;
    background-color: #fff;
    padding: 2em 0;
}

/* -------- Basic Layout --------*/
nav{
    background-color :#fff;
    width: 100%;
    padding: 1em 0;
}

.signup button{
    font-size: .9em;
}

/* -------- Flexboxes --------*/
nav,
main,
.main-foot{
    display: flex;
    flex-direction: column;
}

.login-menu{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
}

/* -------- Media Queries --------*/
@media (min-width: 769px){
    nav{
       display: flex;
       flex-direction: row;
       align-content: space-between;
    }
    
    .login-menu{
        display: flex;
       
    }

    #logo {
        width: 150px;
        padding: 1em 2em;
        margin: 2em;
    }
}


